/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
}


/* Main Content Styles */
main {
    padding: 20px;
}

.container, .mainC {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main-sections {
    flex: 2;
}



.class-schedule {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    min-height: 300px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    flex: 1;
}

h2 {
    margin-bottom: 10px;
    font-size: 15px;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.close, .close-edit {
    float: right;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
}

.close:hover, .close-edit:hover {
    color: #e74c3c;
}

.modal-content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* Input Field Styling */
.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.modal-content input[type="text"]:focus {
    border-color: #0a2558;
}

/* Button Styling */
.modal-content button, .add-task-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #0a2558;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover, .add-task-btn:hover {
    background-color: #0a2558;
}

.task-container {
    max-height: 200px;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#tasksList .task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 3px 5px #a8a8a8a1;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInTask 0.4s ease forwards;
}

#tasksList .task input[type="checkbox"] {
    margin-right: 10px;
}

#tasksList .task label {
    flex-grow: 1;
}

#tasksList .task .delete-btn, .edit-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: #0a2558;
    margin-right: 5px;
}

/* Subject Section */
.your-subject {
    margin-top: 20px;
}

.subjects {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.subject {
    width: 30%;
    height: 246px;
    background-color: #ffffff;
    padding: 7px;
    text-align: left;
    border: 0px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 40px -8px rgb(0 0 0 / 30%), 0 0 24px -16px rgb(0 0 0 / 16%);
    transform: translateY(7px);
    transition: transform 0.4s ease;
}

.subject:hover {
    transform: translateY(-1px);
}



.subject-image1  {
    background-image: url("images/Advanced.PNG");
    background-size: cover;
    background-position: center;
    height: 7rem;
    border-radius: 4px;
    margin-bottom: 10px;
}
.subject-image2 {
    background-image: url("images/A.png");
    background-size: cover;
    background-position: center;
    height: 7rem;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.subject-image3 {
    background-image: url("images/Mastering.png");
    background-size: cover;
    background-position: center;
    height: 7rem;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.p2 {
    color: #0a2558;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
}

.p1 {
    color: #2697ff;
    font-size: 11px;
    
}

/* Calendar Styles */
.tab-content {
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #fff;
}

.calendar-section, .calendar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.calendar {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    font-size: 11px;
    justify-content: space-between;
    max-width: 200px;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 200px;
    font-size: 11px;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;
    z-index: 2;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prev, #next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before, #next::before {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #808080;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before, #next:hover::before {
    border-color: #000000;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

.dates li {
    list-style: none;
    padding: 0px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
}

.dates li.today {
    color: #fff;
}

.dates li.today::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.dates li.inactive {
    color: #ccc;
}

/* Tab Styles */
.tab {
    display: none;
}

.tab.active {
    display: block;
}

.view-all {
    float: right;
    font-size: 14px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0;
}

.footer-links li {
    margin: 0 15px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
}

p {
    margin-top: 20px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadeInTask {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutTask {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes fadeInCompletedTask {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
